.game-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 10px;
}

.game-button button {
    background-color: rgb(62, 81, 115);
    color: rgb(133, 180, 226);
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}

.game-button button:hover {
    background-color: #74b3de;
    color: white;
}

.game-button button:active {
    background-color: #969797;
    color: white;
}

.filter-button {
    position: absolute;
    bottom: 33px;
    right: 65px;
    display: flex;
    gap: 10px; /* space between buttons */
}

.filter-button button {
    background-color: rgb(62, 81, 115);
    color: rgb(133, 180, 226);
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}

.filter-button button:hover {
    background-color: #74b3de;
    color: white;
}

.header-button {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 10px; /* space between buttons */
}

.header-button button {
    background: none;
    text-decoration: underline;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 11px;
}

.header-button button:hover {
    color: rgb(207, 206, 206);
}

.header-button button:active {
    color: rgb(114, 114, 114);
}