.signin-signout {
  background: rgb(40,53,81);
  padding: 20px;
  color: rgb(133, 180, 226);
  width: 25%;
  height: 600px;
  border-radius: 8px;
  border: 1px solid #c3d4de;
  box-shadow: 0 0 100px rgba(0,0,0,0.5);
  text-align: center;
}

.forgot-password-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 10px; /* space between buttons */
}

.forgot-password-button button {
    background-color: rgb(62, 81, 115);
    color: rgb(133, 180, 226);
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}

.forgot-password-button button:hover {
    background-color: #74b3de;
    color: white;
}
