.star {
  font-size: 10vh;
  cursor: pointer;
}
.one {
  color: #ffff89;
}
.two {
  color: #ffff89;
}
.three {
  color: #ffff89;
}
.four {
  color: #ffff89;
}
.five {
  color: #ffff89;
}