.game-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 10px; /* space between buttons */
}

.game-button button {
    background-color: rgb(62, 81, 115);
    color: rgb(133, 180, 226);
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}

.game-button button:hover {
    background-color: #74b3de;
    color: white;
}

.game-button button:active {
    background-color: #969797;
    color: white;
}

.filter-button {
    position: absolute;
    bottom: 33px;
    right: 65px;
    display: flex;
    gap: 10px; /* space between buttons */
}

.filter-button button {
    background-color: rgb(62, 81, 115);
    color: rgb(133, 180, 226);
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}

.filter-button button:hover {
    background-color: #74b3de;
    color: white;
}

/* Resend 2FA and Back to Login buttons */
.aux-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #4CAF50; /* green button */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.aux-button:hover {
    background-color: #45a049;
}

