.filters {
    background: rgb(40,53,81);
    padding: 15px;
    color: rgb(133, 180, 226);
    width: 35%;
    height: 650px;
    border-radius: 8px;
    border: 1px solid #c3d4de;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    text-align: left;
}

.filters h3 {
    color: rgb(203,212,222);
    margin-bottom: 30px;
}

.filters label {
    display: block;
    margin: 5px 0;
}
