.gamecard {
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgb(40,53,81);
    padding: 15px;
    width: 60%;
    height: 650px;
    border-radius: 8px;
    border: 1px solid #c3d4de;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
}

.gamecard .game-image {
    width: 720px;
    height: auto;
    object-fit: cover;
    align-items: left;
    margin-bottom: 10px;
    float: left;
    /* border-radius: 8px; */
    border: 1px solid #c3d4de
}

.gamecard .game-title {
    color: white;
    margin-bottom:  10px;
    text-align: left;
    margin-left: 10px;
    font-size: 30px;
}

.gamecard .game-info {
    color: rgb(203,212,222);
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
    gap: 25px;
}

/* Description under image */ 
.gamecard .game-description {
    color: rgb(203,212,222);
    margin-top: 25px;
    margin-left: 5px;
    max-width: 750px;
    text-align: left;
}
