header {
    background-color: rgb(40,53,81);
    color: white;
    padding: 5px;
    width: 25%;
}

.page-title {
    /* font-family: 'Verdana', sans-serif; */
    font-size: 20px;
    color: white;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    text-shadow: 0 0 20px rgba(133, 180, 226, 0.5), 0 0 40px rgba(133, 180, 226, 0.3), 0 4px 8px rgba(0, 0, 0, 0.5);
}

